{% extends "credit_layout.html" %}
{% block content %}
    <div class="container">
        <h1>Member</h1>
        <p class="description">MinecraftItemList is a web crawler for Toc project</p>
        <form class = "action">
            <input type="text" placeholder="Enter your item name" class="item-input">
            <button class="search-btn" type="button" id="crawlButton">Click For Search</button>
            <button class="credits-btn" type="button" id = "seeCredit">Credits</button>
        </form>
    </div>
    
    
{% endblock %}