{% extends "credit_layout.html" %}
{% block content %}
    <div class="member_container" >
        <p class="member_title">Member</p>
        <form class="layout_title">
            <div class="form-row">
                <p class="name">Name</p>
                <p class="id">ID</p>
            </div>
            <div class="form-row">
                <p class="name">Pacharaphol Eiamsongkram</p>
                <p class="id">65010671</p>
            </div>
            <div class="form-row">
                <p class="name">Phrit Nakgate</p>
                <p class="id">65010604</p>
            </div>
            <div class="form-row">
                <p class="name">Paramate </p>
                <p class="id">65010594</p>
            </div>
            <div class="form-row">
                <p class="name">Petch</p>
                <p class="id">65010773</p>
            </div>
            <div class="form-row">
                <p class="name">Watcharin Damthong</p>
                <p class="id">65010977</p>
            </div>
            <div class="form-row">
                <p class="name">Saranjirat</p>
                <p class="id">65011017</p>
            </div>
            <div class="form-row">
                <p class="name">Yotsapat</p>
                <p class="id">65010895</p>
            </div>
            <div class="form-row">
                <p class="name">Yongsuk</p>
                <p class="id">65010892</p>
            </div>
            <div class="form-row">
                <p class="name">Passakorn Polsan</p>
                <p class="id">65010833</p>
            </div>
            <div class="form-row">
                <p class="name">Nong king</p>
                <p class="id">66xxxxxx</p>
            </div>
            <div class="form-row">
                <p class="name">Peun Nong king</p>
                <p class="id">66xxxxxx</p>
            </div>

        </form>
        <br>
    </div>

    
    
{% endblock %}