{% extends "layout.html" %}
{% block content %}
    <div class="container">
        <h1>MINECRAFT ITEM LISTS</h1>
        <p class="description">MinecraftItemList is a web crawler for Toc project</p>
        <form class = "action">
            <input type="text" placeholder="Enter your item name" class="item-input">
            <button class="search-btn" type="button" id="crawlButton">Click For Search</button>
            <button class="credits-btn" type="button" id = "seeCredit">Credits</button>
        </form>
        <p class="footer">MinecraftItemList &copy; 2024<br>Mojang does not approve or sponsor this project.</p>
    </div>
    
    <div id="loading" style="display: none;">Crawling in progress...</div>
    <div id="downloadBtn" style="display: none;">
        <a href="/download">Download Item Lists</a>
    </div>
    <div class="item-list" id="itemList"></div>
    
    
    <script>
        document.getElementById('crawlButton').addEventListener('click', function() {
            // Show loading message
            document.getElementById('loading').style.display = 'block';

            // Send AJAX request to trigger the crawl
            fetch('/start-crawl', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            })
            .then(response => response.json())
            .then(items => {
                // Hide loading message
                document.getElementById('loading').style.display = 'none';

                window.location.href = "/all-items";
                document.getElementById('downloadBtn').style.display = 'block';

                // Get the container for the item list
                
            })
            .catch(error => {
                console.error('Error:', error);
                document.getElementById('loading').style.display = 'none';
            });
        });
        document.getElementById('seeCredit').addEventListener('click', function() {
            window.location.href = '/credits'; // Redirect to the credits page
        });

    </script>
{% endblock %}